.colorBlue__raffles_featured {
    display: flex;
    flex-direction: column;
    position: relative;

    height: 421px;
    width: 340px;

    font-family: var(--font-family);

    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    margin: 1rem;
    }

.colorBlue__raffles_featured .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 0px 10px 0px 10px;
    margin: 0px 0px 5px 0px;
}

.colorBlue__raffles_featured .col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5;
    margin: 5px 10px 5px 10px;
}

.colorBlue__raffles_featured-cardImg {
    align-items: center;
    box-sizing: border-box;
    object-fit: cover;

    height: 300px;
    
    border-radius: 10px 10px 0px 0px;
  }

.row.nft_details {
    align-items: center;
    justify-content: space-between;
}

.iconameid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.stack_nameID {
    margin-left: 5px;
}

.colorBlue__raffles_featured-col_icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;

    clip-path: circle(20px at center);
}

.colorBlue__raffles_featured-col_name {
    display: flex;
    align-items: center;
    
    font-weight: 600;
    font-size: 14px;
}

.colorBlue__raffles_featured-verified {
    height: 18px;
    width: 18px;

    padding-left: 5px;
  }

  .colorBlue__raffles_featured-nft_name {
    display: flex;

    font-weight: 400;
    font-size: 10px;
    
    color: var(--color-grey);
}

.colorBlue__raffles-ticket {
    justify-content: flex-end;
    
    font-size: 10px;
    text-align: right;
    color: var(--color-grey);
}

.colorBlue__raffles-ticketprice {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    font-weight: 600;
    font-size: 14px;
}

.colorBlue__raffles-currency{
    height: 13px;
    width: 7px;
    
    margin-right:2px;
}

.row.raffle {
    justify-content: space-between;
}


.colorBlue__rafflesFeatured_timer-label, .colorBlue__rafflesFeatured_progress-bar-label {
    font-size: 10px;
    color: var(--color-grey);
}

.colorBlue__rafflesFeatured_timer {
    min-width: 113px;
    
    font-size: 12px;
}

.colorBlue__rafflesFeatured_timer-label {
    margin-bottom: 3.5px;
}

.colorBlue__rafflesFeatured_reserve {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.colorBlue__rafflesFeatured_reserve p {
    font-size: 10px;
}

.colorBlue__rafflesFeatured_progress-bar {
    min-width: 150px;
}

