.colorBlue__collections_featured {
    display: flex;
    flex-direction: column;
    position: relative;

    height: 400px;
    width: 290px;
    margin: 1rem;

    font-family: var(--font-family);

    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.colorBlue__collections_featured .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 0px 10px 0px 10px;
    margin: 0px 0px 5px 0px;
}

.colorBlue__collections_featured .col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5;
    margin: 5px 10px 5px 10px;
}

.colorBlue__collections_featured-cardImg {
    box-sizing: border-box;
    object-fit: cover;
    
    height: 370px;

    border-radius: 10px 10px 0px 0px;
}

.row.collection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 10px;
    top: 18px;
}

.colorBlue__collections_featured-collection_icon {
    width: 33px;
    height: 33px;
    clip-path: circle(16px at center);
}

.colorBlue__collections_featured-collection_name {
    display: flex;
    align-items: center;

    max-width: 220px;
    margin-left: 10px;

    font-weight: bold;
    font-size: 24px;
    color: var(--color-white);
}

.colorBlue__collections_featured-collection_name p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.colorBlue__collections_featured-collection_verified {
    margin-left: 5px;

    height: 20px;
    width: 20px;
}

.row.collection-owner {
    justify-content: space-between;
    margin-top: 7px;
}

.column.collection-owner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.collection-owner p {
    font-size: 10px;
}

.colorBlue__collections_featured-collection_owner_verified {
    height: 14px;
    width: 14px;
    margin-left: 2px;
}
