.colorBlue__raffle-listing {
    display: flex;
    flex-direction: column;

    height: 542px;
    width: 332px;

    font-family: var(--font-family);

    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.colorBlue__raffle-listing .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
}

.colorBlue__raffle-listing .col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5;
    margin: 5px 10px 5px 10px;
}

.collection-icon, .collection-name, .nftId {
    padding: 2px;
    margin-left: 2px;
}

.nftId {
    font-size: 12px;
}

.collection-name {
    font-size: 18px;
}

.timer {
    min-width: 113px;
    font-size: 12px;
}

.timer-label, .progress-bar-label {
    font-size: 14px;
    color: var(--color-grey);
}

.timer-label {
    margin-bottom: 3.5px;
}

.reserve {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: 50px;
}

.reserve p {
    position: relative;
    font-size: 14px;
}

.progress-bar {
    min-width: 150px;
}

.row.ticket-price {
    padding: 0;
}

.ticket-price p {
    color: var(--color-grey);
    font-size: 14px;
}

.ticket-price img {
    margin-right: 4.5px;
}

.ticket-price span {
    color: var(--color-grey);
    font-size: 14px;
}

.row.nft-owner {
    justify-content: space-between;
}

.nft-owner img {
    position: relative;
    left: 15%;
    
    border-radius: 50%;
    margin: 3.5px;
}

.nft-owner p {
    font-size: 14px;
}

.nft-owner strong {
    color: var(--color-blue);
}

.nft-owner button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    font-family: var(--font-family);
    font-weight: 800;

    background-color: var(--color-blue);
    color: var(--color-white);
    
    border-radius: 10px;
    border: none;

    height: 30px;
    width: 100px;
}