.colorBlue__getting-started {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;

    font-family: var(--font-family);
    font-size: 14px;
}

.colorBlue__getting-started-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 5px;
}

.wrapper {
    display: inline-flex;
    align-items: center;
}

.colorBlue__getting-started-heading .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    
    background-color: var(--color-grey-medium);

    margin-right: 10px;

}

.colorBlue__getting-started-heading .view-all {
    color: var(--color-grey);
    font-weight: 800;
}

.divider {
    background-color: var(--color-grey-light);
    height: 1px;
    width: 100%;
}

.colorBlue__getting-started .blogs {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    height: 60px;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    font-family: var(--font-family);
    font-weight: 800;

    background-color: var(--color-blue);
    color: var(--color-white);
    
    border-radius: 10px;
    border: none;

    height: 40px;
    width: 120px;
}

@media screen and (min-width: 428px) and (max-width: 800px) {
    .colorBlue__getting-started .blogs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        height: auto;
    
        font-family: var(--font-family);
        font-size: 14px;
    }


}