.colorBlue__collections_list {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    
    width: 340px;
    height: 100px;
    margin: 1rem;

    font-family: var(--font-family);

    border: 1px solid var(--color-grey-light);
    border-radius: 15px;
    
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    transition: transform 150ms ease-in;
}

.colorBlue__collections_list:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
}

.colorBlue__collections_list .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    /*padding: 0px 10px 0px 10px;*/
    /*margin: 0px 0px 5px 10px;*/
}

.colorBlue__collections_list .col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5;
    margin: 5px 10px 5px 10px;
}

/* Row */
.row.collections_list {
    padding: 20px;
    justify-content: space-between;
}

/* Left - Image, name, items*/
.colorBlue__collections_list-left {
    display: flex;
}


/* Collection Image*/
.colorBlue__collections_list-icon {
    width: 60px;
    height: 60px;

    box-sizing: border-box;
    clip-path: circle(30px at center);
}

.col.collections_list_details {
    margin-right: 0px
}

/* Collection Name + Verification*/
.colorBlue__collections_list-name_and_item {
    font-size: 12px;
    color: var(--color-grey);
}

/* Collection Name */
.colorBlue__collections_list-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 140px;
    
    font-weight: 600;
    font-size: 14px;
    color: var(--color-black);
}

.colorBlue__collections_list-name p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Collection Verification*/
.colorBlue__collections_list-verified {
    height: 18px;
    width: 18px;

    padding-left: 5px;
  }


/*Right*/
.colorBlue__collections_list-right{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    
}

/*From*/
.col.collections_list_from {
    margin: 5px 0px
}

/*From*/
.colorBlue__collections_list-resprice {
    display: flex;
    justify-content: flex-end;
    
    font-size: 12px;
    color: var(--color-grey);
    
}

/*From Amount*/
.colorBlue__collections_list-ticketprice {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-weight: 600;
    font-size: 16px;

    margin-top: 3px;
}

.colorBlue__collections_list-ticketprice img{
    height: 13px;
    width: 7px;
    
    margin-right:2px;
}
  






