* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
}

a {
  color: unset;
  text-decoration: none;
}

/* Animations */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Desktop */
.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

/* Large devices - tablets, XL mobile etc. */
@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem 2rem;
    margin: 4.5rem 0rem;
  }
}

/* Mobile */
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 2rem 1rem;
    margin: 4.5rem 0rem;
  }
}