.colorBlue__creators_featured {
    display: flex;
    flex-direction: column;
    position: relative;
    
    width: 340px;
    margin: 1rem;

    font-family: var(--font-family);

    border: 1px solid var(--color-grey-light);
    border-radius: 15px;
    
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    transition: transform 150ms ease-in;
    }

.colorBlue__creators_featured:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
}

.colorBlue__creators_featured .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 0px 10px 0px 10px;
    margin: 0px 0px 5px 10px;
}

.colorBlue__creators_featured .col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5;
    margin: 5px 10px 5px 10px;
}

.colorBlue__creators_featured-cardImg {
    box-sizing: border-box;
    object-fit: cover;
    align-items: center;

    height: 115px;
    
    
    border-radius: 10px 10px 0px 0px;
}

.colorBlue__creators-icon {
    position: absolute;
    top: 73px;
    left: 17px;

    box-sizing: border-box;
    width: 80px;
    height: 80px;
    
    border: 5px solid var(--color-white);
    border-radius: 50%;
    clip-path: circle(40px at center);
}


.colorBlue__creators-name {
    display: flex;
    align-items: center;

    max-width: 270px;
    
    font-weight: bold;
    font-size: 24px;
    color: var(--color-black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.colorBlue__creators-name p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.colorBlue__creators-verified {
    height: 24px;
    width: 24px;

    padding-left: 5px;
  }



.colorBlue__creators-description {
    height: 50px;
    
    font-size: 10px;
    line-height: 12px;
    color: var(--color-grey);

    /* Addition lines for 4 line or multiline ellipsis */
    text-overflow:ellipsis;
    overflow:hidden;

    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}





